@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  // Color
  --primary-100: #67bdff;
  --primary-200: #068dff;
  --primary-300: #037aeb;
  --primary-400: #0063e5;
  --primary-500: #00386c;
  --secondary: #02e7f5;
  --accent: #ffffff;
  --neutral--100: #ffffff;
  --neutral-100: #f9f9f9;
  --neutral-200: #c8c9cb;
  --neutral-300: #74757d;
  --neutral-400: #5f6169;
  --neutral-500: #30333e;
  --neutral-600: #1a1d29;
  --neutral-700: #101116;

  // Text
  --text-link: #02e7f5;
  --high-emphasis: #f9f9f9;
  --medium-emphasis: #c8c9cb;
  --disabled: #5f6169;
  --background-color: #1a1d29;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--accent);
  background-color: var(--background-color);
}

// Text overflow
.text-over-1 {
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-over {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  @extend .text-over-1;

  &-2 {
    @extend .text-over;
    -webkit-line-clamp: 2;
  }

  &-3 {
    @extend .text-over;
    -webkit-line-clamp: 3;
  }

  &-4 {
    @extend .text-over;
    -webkit-line-clamp: 4;
  }

  &-5 {
    @extend .text-over;
    -webkit-line-clamp: 5;
  }

  &-6 {
    @extend .text-over;
    -webkit-line-clamp: 6;
  }
}

.ant-menu {
  background-color: transparent !important;
  display: flex !important;
  font-size: 16px;
  font-family: 'Work Sans', sans-serif !important;
  border-bottom: none !important;

  .ant-menu-item {
    display: flex !important;
    align-items: center !important;

    .ant-menu-item-icon {
      color: var(--secondary);
    }

    .ant-menu-title-content {
      color: var(--accent);
      font-weight: 500 !important;
      height: 40px !important;
      line-height: 40px !important;
      margin-left: 8px !important;
    }

    .icon {
      display: block !important;
    }

    .active-icon {
      display: none !important;
    }

    &.ant-menu-item-selected {
      & .ant-menu-title-content {
        color: var(--secondary) !important;
      }

      & .icon {
        display: none !important;
      }

      & .active-icon {
        display: block !important;
      }
    }

    &::after {
      display: none !important;
    }
  }

  &.mobile__nav-menu {
    height: 100% !important;

    .ant-menu-item {
      flex-direction: column !important;
      width: 33.33%;
      justify-content: center !important;

      .ant-menu-title-content {
        width: 90%;
        text-align: center;
        margin-left: 0 !important;
        height: 20px !important;
        line-height: 20px !important;
        font-size: 14px !important;
        @extend .text-over-1;
      }
    }
  }
}

.ant-layout {
  background-color: transparent !important;

  .ant-layout-header {
    background: linear-gradient(180deg, #0e1012 0%, rgba(14, 16, 18, 0) 100%);
    padding: 0 !important;
    font-family: 'Work Sans', sans-serif !important;
  }

  .mobile-footer {
    height: 56px !important;
    background: linear-gradient(0deg, #0e1012 0%, rgba(14, 16, 18, 0) 100%);
  }
}

.app-footer {
  background-color: #090b13 !important;
}

.ant-btn {
  &:hover {
    color: white !important;
  }
}

.homepage__text-overview {
  @extend .text-over-4;
}

.home__btn-infor {
  &.ant-btn-default {
    @extend .ant-btn-default;
    &:not(:disabled):not(.ant-btn-disabled):hover {
      color: var(--neutral-600);
      border-color: var(--neutral-300);
    }
  }
}

.home__btn-watch {
  &.ant-btn-default {
    @extend .ant-btn-default;
    &:not(:disabled):not(.ant-btn-disabled):hover {
      color: var(--neutral-600);
      border-color: var(--neutral-200);
    }
  }

  @media (min-width: 576px) {
    max-width: 195px;
  }
}

.ant-form-item {
  margin: 0 !important;
}

.ant-spin {
  .ant-spin-dot {
    background-image: url('/icons/loading.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60px !important;
    height: 60px !important;

    .ant-spin-dot-item {
      display: none !important;
    }
  }
}

.ant-modal-content {
  padding: 0 !important;
}

.ant-modal-body {
  background-color: #101116;
}

.ant-popover {
  .ant-popover-arrow {
    top: 1px !important;
    &::before {
      background-color: var(--neutral-700) !important;
    }
  }

  .ant-popover-inner {
    background-color: transparent !important;
    border-radius: 8px;
    border: none !important;
    padding: 0 !important;
    box-shadow: none !important;
  }
}

.ant-input-search {
  .ant-input {
    background-color: transparent !important;
    border: none !important;
    color: white !important;
    font-size: 16px !important;
    font-family: 'Lato', sans-serif !important;
    box-shadow: none !important;
  }

  & button {
    display: none !important;
  }
}

.slide-desktop {
  display: none !important;
  @media (min-width: 576px) {
    display: block !important;
  }
}

.slide-mobile {
  @media (min-width: 576px) {
    display: none !important;
  }
}

.slide-mobile.swiper {
  height: 218vw;
  overflow: auto !important;
  overflow-x: hidden !important;

  @media (min-width: 415px) {
    height: 200vw;
  }
}

.movie-box {
  .movie-card {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s;
  }

  &:hover {
    .movie-card {
      visibility: visible;
      opacity: 1;
      pointer-events: all;
    }
  }
}

.ant-modal {
  width: 90% !important;
  max-width: 1000px !important;
}

iframe {
  width: 100%;
  aspect-ratio: 1.67 !important;
}

.nav-link.active {
  color: var(--text-link);
}
